test/nodered/flow.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d2e750ce8755afe",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "5fce113b71d09998"
            ]
        ]
    },
    {
        "id": "43f54065ad7ee7ac",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "1d3ed4948351a650"
            ]
        ]
    },
    {
        "id": "5fce113b71d09998",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemUpdate to TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "1d3ed4948351a650",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommand to TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "ba5e009ceaede372",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "1d3ed4948351a650"
            ]
        ]
    },
    {
        "id": "325a383b059e913e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "1d3ed4948351a650"
            ]
        ]
    },
    {
        "id": "39b64fab55d5527c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "5fce113b71d09998"
            ]
        ]
    },
    {
        "id": "459097daad30984d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "5fce113b71d09998"
            ]
        ]
    },
    {
        "id": "dc53d1cfef04ef85",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "InitialStateEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": true,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 780,
        "y": 120,
        "wires": [
            [
                "fb18358d67395b73"
            ]
        ]
    },
    {
        "id": "fb18358d67395b73",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 InitialStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "3b3a549ff74d1c86",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "a117e038d0f04c21"
            ]
        ]
    },
    {
        "id": "a117e038d0f04c21",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 ItemStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "2950600bfa7f2370",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommandEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 800,
        "y": 240,
        "wires": [
            [
                "dc92ff6a27d6ccb7"
            ]
        ]
    },
    {
        "id": "dc92ff6a27d6ccb7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 ItemCommandEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "ae6701d10ad90085",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateChangedEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "a491cddbfebf7005"
            ]
        ]
    },
    {
        "id": "a491cddbfebf7005",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 ItemStateChangedEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 300,
        "wires": []
    },
    {
        "id": "b366e9f3d37d99f5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 raw events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "804d3ff893923aa0",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "openhab v2",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "e518a382c7422c43",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "cc4549ef68b18c58"
            ]
        ]
    },
    {
        "id": "cb260cc26be1a651",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "86e89295d1f0af1a"
            ]
        ]
    },
    {
        "id": "cc4549ef68b18c58",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemUpdate to TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "86e89295d1f0af1a",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommand to TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 400,
        "y": 860,
        "wires": []
    },
    {
        "id": "445e93c0c3f94f8a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "86e89295d1f0af1a"
            ]
        ]
    },
    {
        "id": "a6cf069d6ec0cb57",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 170,
        "y": 940,
        "wires": [
            [
                "86e89295d1f0af1a"
            ]
        ]
    },
    {
        "id": "e490d3f3d172e109",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "cc4549ef68b18c58"
            ]
        ]
    },
    {
        "id": "4d9e3bb779a00e61",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "cc4549ef68b18c58"
            ]
        ]
    },
    {
        "id": "33ad9e8335e43a22",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "InitialStateEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": true,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 780,
        "y": 720,
        "wires": [
            [
                "4a951030b746fa9e"
            ]
        ]
    },
    {
        "id": "4a951030b746fa9e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 InitialStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "dae1ab384b29a49c",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 780,
        "y": 780,
        "wires": [
            [
                "2e0ecb179bc628c4"
            ]
        ]
    },
    {
        "id": "2e0ecb179bc628c4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 ItemStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 780,
        "wires": []
    },
    {
        "id": "d6cc2eb239a6ecce",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommandEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 800,
        "y": 840,
        "wires": [
            [
                "d811ef8d30eb4122"
            ]
        ]
    },
    {
        "id": "d811ef8d30eb4122",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 ItemCommandEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 840,
        "wires": []
    },
    {
        "id": "598b8353b338c56c",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateChangedEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 810,
        "y": 900,
        "wires": [
            [
                "9a7edcbd13ef6e09"
            ]
        ]
    },
    {
        "id": "9a7edcbd13ef6e09",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 ItemStateChangedEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 900,
        "wires": []
    },
    {
        "id": "61bf4bd7e15e4272",
        "type": "openhab2-monitor2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "x": 190,
        "y": 1020,
        "wires": [
            [],
            [],
            [
                "4758dd5fca60fac6"
            ]
        ]
    },
    {
        "id": "4758dd5fca60fac6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 raw events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c65853c6fed13950",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "openhab v3",
        "info": "",
        "x": 170,
        "y": 680,
        "wires": []
    },
    {
        "id": "74e26185909b4c1d",
        "type": "openhab2-monitor2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "x": 190,
        "y": 420,
        "wires": [
            [],
            [],
            [
                "b366e9f3d37d99f5"
            ]
        ]
    },
    {
        "id": "f889218a0e2b8165",
        "type": "openhab2-events2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "c8e57b3e54444775"
            ]
        ]
    },
    {
        "id": "c8e57b3e54444775",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 480,
        "wires": []
    },
    {
        "id": "bdd95fc4f4d72d1d",
        "type": "openhab2-events2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "",
        "x": 190,
        "y": 1080,
        "wires": [
            [
                "7972bd44e5836e1d"
            ]
        ]
    },
    {
        "id": "7972bd44e5836e1d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1080,
        "wires": []
    },
    {
        "id": "07a6b3c813e3f15a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 980,
        "wires": [
            [
                "52955b25b151cd6e"
            ]
        ]
    },
    {
        "id": "52955b25b151cd6e",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "sendnull": false,
        "x": 920,
        "y": 980,
        "wires": [
            [
                "9fec6a28d2885f78"
            ]
        ]
    },
    {
        "id": "9fec6a28d2885f78",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get TestString (NOT sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 980,
        "wires": []
    },
    {
        "id": "66655c876e8c9f3a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "098ef822b9a8ad65"
            ]
        ]
    },
    {
        "id": "098ef822b9a8ad65",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "x": 920,
        "y": 380,
        "wires": [
            [
                "dec040242f59afbd"
            ]
        ]
    },
    {
        "id": "dec040242f59afbd",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get TestString (NOT sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 380,
        "wires": []
    },
    {
        "id": "6480d1260f8ec7f6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "17.2",
        "payloadType": "num",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "73edb569c7373652",
                "ca21510543df2ed0"
            ]
        ]
    },
    {
        "id": "78c3bdb2804a39c2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18.5",
        "payloadType": "num",
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "73edb569c7373652",
                "ca21510543df2ed0"
            ]
        ]
    },
    {
        "id": "409d3d4f9e842bd6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "73edb569c7373652",
                "ca21510543df2ed0"
            ]
        ]
    },
    {
        "id": "6b443b66688c3184",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "17.2",
        "payloadType": "num",
        "x": 170,
        "y": 1500,
        "wires": [
            [
                "e71ebc9168e9043a",
                "659009eebb971085"
            ]
        ]
    },
    {
        "id": "2facc63028076d96",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18.5",
        "payloadType": "num",
        "x": 170,
        "y": 1540,
        "wires": [
            [
                "e71ebc9168e9043a",
                "659009eebb971085"
            ]
        ]
    },
    {
        "id": "7f2717c6f7d28778",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "e71ebc9168e9043a",
                "659009eebb971085"
            ]
        ]
    },
    {
        "id": "73edb569c7373652",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature1",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 450,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e71ebc9168e9043a",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature2",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 450,
        "y": 1580,
        "wires": []
    },
    {
        "id": "2ecf79fab10e9596",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 in2 group temperatures",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3431c3627d5a1ead",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GTemperatures",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 760,
        "y": 1440,
        "wires": [
            [
                "2ecf79fab10e9596"
            ]
        ]
    },
    {
        "id": "ca21510543df2ed0",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature1",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 450,
        "y": 1340,
        "wires": []
    },
    {
        "id": "659009eebb971085",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature2",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 450,
        "y": 1500,
        "wires": []
    },
    {
        "id": "f6fcfe02cbc2113c",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Testing the GroupItemStateChangedEvent",
        "info": "\nGroup definition is `Group:Number:AVG`.\nGTemperatures should output the average number (the \"temperature\") for all Items part of the GTemperatures group, which are `TestTemperature1` and `TestTemperature2` for this test.\n",
        "x": 240,
        "y": 1280,
        "wires": []
    },
    {
        "id": "2a13059cbe2ea4ad",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18.5",
        "payloadType": "num",
        "x": 170,
        "y": 1740,
        "wires": [
            [
                "37c8b96cc0171540",
                "45fde55763d23a2e"
            ]
        ]
    },
    {
        "id": "37c8b96cc0171540",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GTemperatures",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 440,
        "y": 1780,
        "wires": []
    },
    {
        "id": "1cfbf43d5dea015e",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Testing the GroupItemStateChangedEvent",
        "info": "\nGroup definition is `Group:Number:AVG`.\nGTemperatures should output the average number (the \"temperature\") for all Items part of the GTemperatures group, which are `TestTemperature1` and `TestTemperature2` for this test.\n",
        "x": 240,
        "y": 1660,
        "wires": []
    },
    {
        "id": "4838b87205178a1e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 in2 group temperatures",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1500,
        "wires": []
    },
    {
        "id": "5aa1fa43fb891caf",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GTemperatures",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 760,
        "y": 1500,
        "wires": [
            [
                "4838b87205178a1e"
            ]
        ]
    },
    {
        "id": "0c3acda6c55c5dfc",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature1",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 770,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "d685e30fe688c90f",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature2",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 770,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "1b9d31bc2d11df23",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature1",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 770,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "931efa2dee737957",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature2",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 770,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "45fde55763d23a2e",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GTemperatures",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 440,
        "y": 1700,
        "wires": []
    },
    {
        "id": "52d664aba27846d6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 1740,
        "wires": [
            [
                "6cf9a609af68a3a1",
                "35f7511a17ebeabb"
            ]
        ]
    },
    {
        "id": "6cf9a609af68a3a1",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GTemperatures",
        "topic": "",
        "x": 920,
        "y": 1700,
        "wires": [
            [
                "ba7c23a33fbd01a5"
            ]
        ]
    },
    {
        "id": "ba7c23a33fbd01a5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1700,
        "wires": []
    },
    {
        "id": "35f7511a17ebeabb",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GTemperatures",
        "topic": "",
        "x": 920,
        "y": 1780,
        "wires": [
            [
                "013459f2d48f7b0b"
            ]
        ]
    },
    {
        "id": "013459f2d48f7b0b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1780,
        "wires": []
    },
    {
        "id": "31773217ac7bddc3",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Testing openhab3 OAuth2 authentication",
        "info": " *  Go to http://localhost:8082\n *  Create a username/password\n *  Go to http://localhost:8082/createApiToken\n *  Create a token and remember it\n *  Enter the OAuthv2 token in the `OAuth2 Bearer token` field in the connection setup screen.\n *  The connection with `openhab3-oauth2` should now work.\n",
        "x": 240,
        "y": 1900,
        "wires": []
    },
    {
        "id": "463754ad8179f41d",
        "type": "openhab2-monitor2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "9d283b0c.5c21d8",
        "x": 170,
        "y": 1960,
        "wires": [
            [],
            [],
            [
                "08e749d48c581f2d"
            ]
        ]
    },
    {
        "id": "08e749d48c581f2d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 raw events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1960,
        "wires": []
    },
    {
        "id": "cb34cb88e354c1ae",
        "type": "openhab2-events2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "9d283b0c.5c21d8",
        "itemname": "",
        "x": 170,
        "y": 2020,
        "wires": [
            [
                "5a1e0ef8ca6ac197"
            ]
        ]
    },
    {
        "id": "5a1e0ef8ca6ac197",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2020,
        "wires": []
    },
    {
        "id": "196b88ca9470e4ba",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2100,
        "wires": [
            [
                "7fed92c8a4d67c8a"
            ]
        ]
    },
    {
        "id": "6f9d52e1b9a8d465",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2240,
        "wires": [
            [
                "4544f072d577d071"
            ]
        ]
    },
    {
        "id": "7fed92c8a4d67c8a",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemUpdate to TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 390,
        "y": 2100,
        "wires": []
    },
    {
        "id": "4544f072d577d071",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommand to TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 400,
        "y": 2240,
        "wires": []
    },
    {
        "id": "3535af37e290ba96",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 170,
        "y": 2280,
        "wires": [
            [
                "4544f072d577d071"
            ]
        ]
    },
    {
        "id": "167f2f0f1072bb87",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 170,
        "y": 2320,
        "wires": [
            [
                "4544f072d577d071"
            ]
        ]
    },
    {
        "id": "7a6e3808b9589020",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 170,
        "y": 2140,
        "wires": [
            [
                "7fed92c8a4d67c8a"
            ]
        ]
    },
    {
        "id": "a65a543b8dad740e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 170,
        "y": 2180,
        "wires": [
            [
                "7fed92c8a4d67c8a"
            ]
        ]
    },
    {
        "id": "5abb5ab7c55fe5bb",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "InitialStateEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": true,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 780,
        "y": 2100,
        "wires": [
            [
                "03f11785e3adb6ac"
            ]
        ]
    },
    {
        "id": "03f11785e3adb6ac",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 InitialStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 2100,
        "wires": []
    },
    {
        "id": "7bf19801cda26424",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 780,
        "y": 2160,
        "wires": [
            [
                "2dc6e770728f7a98"
            ]
        ]
    },
    {
        "id": "2dc6e770728f7a98",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 ItemStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 2160,
        "wires": []
    },
    {
        "id": "a4588b1c228b4d57",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommandEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 800,
        "y": 2220,
        "wires": [
            [
                "9f1fcc1120791f20"
            ]
        ]
    },
    {
        "id": "9f1fcc1120791f20",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 ItemCommandEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 2220,
        "wires": []
    },
    {
        "id": "c0b7d43df8b9a30f",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateChangedEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 810,
        "y": 2280,
        "wires": [
            [
                "1fdb748b8b04f2fd"
            ]
        ]
    },
    {
        "id": "1fdb748b8b04f2fd",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 ItemStateChangedEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 2280,
        "wires": []
    },
    {
        "id": "4b7071804f462a16",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 2360,
        "wires": [
            [
                "566ba26c6799a370"
            ]
        ]
    },
    {
        "id": "566ba26c6799a370",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "x": 900,
        "y": 2360,
        "wires": [
            [
                "7b4c59903d29fe97"
            ]
        ]
    },
    {
        "id": "7b4c59903d29fe97",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 2360,
        "wires": []
    },
    {
        "id": "90b7211995a8a077",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 1100,
        "wires": [
            [
                "dbf83d40276b2519"
            ]
        ]
    },
    {
        "id": "dbf83d40276b2519",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GChildGroup",
        "topic": "",
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "ba701481c8df81f6"
            ]
        ]
    },
    {
        "id": "ba701481c8df81f6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get GChildGroup (NOT sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 1100,
        "wires": []
    },
    {
        "id": "796d6c93b5cff95d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 1220,
        "wires": [
            [
                "940ab2f7a29dce82"
            ]
        ]
    },
    {
        "id": "940ab2f7a29dce82",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestStringNoGroup",
        "topic": "",
        "x": 950,
        "y": 1220,
        "wires": [
            [
                "3b9483cdb3c057e4"
            ]
        ]
    },
    {
        "id": "3b9483cdb3c057e4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get TestStringNoGroup",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 1220,
        "wires": []
    },
    {
        "id": "65ac4c36e958ace7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 500,
        "wires": [
            [
                "5143aae9143844c6"
            ]
        ]
    },
    {
        "id": "5143aae9143844c6",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GChildGroup",
        "topic": "",
        "x": 930,
        "y": 500,
        "wires": [
            [
                "8b10cefed96f2737"
            ]
        ]
    },
    {
        "id": "8b10cefed96f2737",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get GChildGroup (NOT sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 500,
        "wires": []
    },
    {
        "id": "5ca7cf09f9682091",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 620,
        "wires": [
            [
                "bba7b05d7942a690"
            ]
        ]
    },
    {
        "id": "bba7b05d7942a690",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestStringNoGroup",
        "topic": "",
        "x": 950,
        "y": 620,
        "wires": [
            [
                "146a6d79361fa123"
            ]
        ]
    },
    {
        "id": "146a6d79361fa123",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get TestStringNoGroup",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "fe580811654b024e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 440,
        "wires": [
            [
                "b68616baa976779a"
            ]
        ]
    },
    {
        "id": "b68616baa976779a",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "sendnull": true,
        "x": 920,
        "y": 440,
        "wires": [
            [
                "81a3dd4b5e81e231"
            ]
        ]
    },
    {
        "id": "81a3dd4b5e81e231",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get TestString (sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 440,
        "wires": []
    },
    {
        "id": "b77a46e8074506da",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "0c20b6d3e4eccb29"
            ]
        ]
    },
    {
        "id": "0c20b6d3e4eccb29",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "sendnull": true,
        "x": 920,
        "y": 1040,
        "wires": [
            [
                "212caddc02f7c3c3"
            ]
        ]
    },
    {
        "id": "212caddc02f7c3c3",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get TestString (sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fa63e893ee7445f4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 560,
        "wires": [
            [
                "b0bad9116017febd"
            ]
        ]
    },
    {
        "id": "b0bad9116017febd",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GChildGroup",
        "topic": "",
        "sendnull": true,
        "x": 930,
        "y": 560,
        "wires": [
            [
                "d8f02a898e521520"
            ]
        ]
    },
    {
        "id": "d8f02a898e521520",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get GChildGroup (sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 560,
        "wires": []
    },
    {
        "id": "f1c8fb24376ae646",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "aa02f1a7ded8c17e"
            ]
        ]
    },
    {
        "id": "aa02f1a7ded8c17e",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GChildGroup",
        "topic": "",
        "sendnull": true,
        "x": 930,
        "y": 1160,
        "wires": [
            [
                "65ba05de6ba11c40"
            ]
        ]
    },
    {
        "id": "65ba05de6ba11c40",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get GChildGroup (sendnull)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1160,
        "wires": []
    },
    {
        "id": "203623fa.cd824c",
        "type": "openhab2-controller2",
        "name": "openhab2",
        "protocol": "http",
        "host": "openhab2",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v2"
    },
    {
        "id": "badf3377.cd963",
        "type": "openhab2-controller2",
        "name": "openhab3",
        "protocol": "http",
        "host": "openhab3",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3"
    },
    {
        "id": "9d283b0c.5c21d8",
        "type": "openhab2-controller2",
        "name": "openhab3-oauth2",
        "protocol": "http",
        "host": "openhab3-oauth2",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.nodered.CgpQImIqacvFxVPC46JUHonnrPJANXaXDhskg7xN0nfaXAW8VSzB5nqighewykwYjf6FCFsGMxR3m4vzidQ"
    }
]