test/nodered/flow.json
[
    {
        "id": "55aa6263.0c99ac",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "b506df3.12e0b2"
            ]
        ]
    },
    {
        "id": "650f8324.523ddc",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "3baac046.e74c6"
            ]
        ]
    },
    {
        "id": "b506df3.12e0b2",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemUpdate to TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "3baac046.e74c6",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommand to TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "ddae356e.5e2a18",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "3baac046.e74c6"
            ]
        ]
    },
    {
        "id": "792a4cc8.5feec4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "3baac046.e74c6"
            ]
        ]
    },
    {
        "id": "7039aa31.6bfde4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "b506df3.12e0b2"
            ]
        ]
    },
    {
        "id": "170a891c.266a37",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "b506df3.12e0b2"
            ]
        ]
    },
    {
        "id": "a6a722c4.e81a8",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "InitialStateEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": true,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "1239c2ad.d9683d"
            ]
        ]
    },
    {
        "id": "1239c2ad.d9683d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 InitialStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "243e3303.4b82fc",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 740,
        "y": 160,
        "wires": [
            [
                "ce4b8f1e.33b89"
            ]
        ]
    },
    {
        "id": "ce4b8f1e.33b89",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 ItemStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7b3aae4.23fed8",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommandEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "6383b166.7226"
            ]
        ]
    },
    {
        "id": "6383b166.7226",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 ItemCommandEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "ccbd71de.a82d8",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateChangedEvent for TestString",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "2f5ab12.049044e"
            ]
        ]
    },
    {
        "id": "2f5ab12.049044e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 ItemStateChangedEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "ab1109ac.3975b8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 raw events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ca0e7c3.a05578",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "openhab v2",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "2964b23d.36112e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "5c8a8a9a.cee1f4"
            ]
        ]
    },
    {
        "id": "38fb8622.0c1b2a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "926477ec.982e78"
            ]
        ]
    },
    {
        "id": "5c8a8a9a.cee1f4",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemUpdate to TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "926477ec.982e78",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommand to TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 360,
        "y": 720,
        "wires": []
    },
    {
        "id": "874ca293.bd24c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "926477ec.982e78"
            ]
        ]
    },
    {
        "id": "640408e2.f5aa48",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "926477ec.982e78"
            ]
        ]
    },
    {
        "id": "ca7f8652.a43ba8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "5c8a8a9a.cee1f4"
            ]
        ]
    },
    {
        "id": "a7304c12.effb",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "5c8a8a9a.cee1f4"
            ]
        ]
    },
    {
        "id": "b998ece.a14a71",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "InitialStateEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": true,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 740,
        "y": 580,
        "wires": [
            [
                "f15fa0bb.fb08c"
            ]
        ]
    },
    {
        "id": "f15fa0bb.fb08c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 InitialStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 580,
        "wires": []
    },
    {
        "id": "5af7ab41.08f924",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 740,
        "y": 640,
        "wires": [
            [
                "d5e694e.df10768"
            ]
        ]
    },
    {
        "id": "d5e694e.df10768",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 ItemStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 640,
        "wires": []
    },
    {
        "id": "e52a5d65.223f1",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommandEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 760,
        "y": 700,
        "wires": [
            [
                "be3902ac.dc4c"
            ]
        ]
    },
    {
        "id": "be3902ac.dc4c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 ItemCommandEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "af44bfe9.00564",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateChangedEvent for TestString",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 770,
        "y": 760,
        "wires": [
            [
                "a0bc1963.e29d48"
            ]
        ]
    },
    {
        "id": "a0bc1963.e29d48",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 ItemStateChangedEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 760,
        "wires": []
    },
    {
        "id": "46d81492.fa937c",
        "type": "openhab2-monitor2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "x": 150,
        "y": 880,
        "wires": [
            [],
            [],
            [
                "30d9d1ae.4a851e"
            ]
        ]
    },
    {
        "id": "30d9d1ae.4a851e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 raw events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 880,
        "wires": []
    },
    {
        "id": "5255d249.56031c",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "openhab v3",
        "info": "",
        "x": 130,
        "y": 540,
        "wires": []
    },
    {
        "id": "c16e7ba6.16ca08",
        "type": "openhab2-monitor2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "x": 150,
        "y": 400,
        "wires": [
            [],
            [],
            [
                "ab1109ac.3975b8"
            ]
        ]
    },
    {
        "id": "92e3fafc.a09ae8",
        "type": "openhab2-events2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "2ebad8da.fea748"
            ]
        ]
    },
    {
        "id": "2ebad8da.fea748",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "de33569f.0b1098",
        "type": "openhab2-events2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "5856e706.3713a8"
            ]
        ]
    },
    {
        "id": "5856e706.3713a8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 940,
        "wires": []
    },
    {
        "id": "236e9a28.a7c776",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 840,
        "wires": [
            [
                "40e1111d.ef734"
            ]
        ]
    },
    {
        "id": "40e1111d.ef734",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestString",
        "topic": "",
        "x": 860,
        "y": 840,
        "wires": [
            [
                "e82da57f.9b71c8"
            ]
        ]
    },
    {
        "id": "e82da57f.9b71c8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 840,
        "wires": []
    },
    {
        "id": "f1a11a46.082718",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "14a50f87.e6bab"
            ]
        ]
    },
    {
        "id": "14a50f87.e6bab",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestString",
        "topic": "",
        "x": 860,
        "y": 360,
        "wires": [
            [
                "c0dbdc4b.fe9a3"
            ]
        ]
    },
    {
        "id": "c0dbdc4b.fe9a3",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "2868663f.bfd22a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "17.2",
        "payloadType": "num",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "8144bb55.973fe8",
                "d677396a.9ba408"
            ]
        ]
    },
    {
        "id": "47d2fbaf.827744",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18.5",
        "payloadType": "num",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "8144bb55.973fe8",
                "d677396a.9ba408"
            ]
        ]
    },
    {
        "id": "3002669d.5288da",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "8144bb55.973fe8",
                "d677396a.9ba408"
            ]
        ]
    },
    {
        "id": "8bf6790e.4f4528",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "17.2",
        "payloadType": "num",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "4e90b65b.459968",
                "2e7655ce.4704fa"
            ]
        ]
    },
    {
        "id": "d27bb32.3fd9b5",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18.5",
        "payloadType": "num",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "4e90b65b.459968",
                "2e7655ce.4704fa"
            ]
        ]
    },
    {
        "id": "2f824a3.bb1e4b6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "4e90b65b.459968",
                "2e7655ce.4704fa"
            ]
        ]
    },
    {
        "id": "8144bb55.973fe8",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature1",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 410,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4e90b65b.459968",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature2",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 410,
        "y": 1320,
        "wires": []
    },
    {
        "id": "fc2823d6.98c0f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 in2 group temperatures",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f9c25a26.7de478",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GTemperatures",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 720,
        "y": 1180,
        "wires": [
            [
                "fc2823d6.98c0f"
            ]
        ]
    },
    {
        "id": "d677396a.9ba408",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature1",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 410,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2e7655ce.4704fa",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature2",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 410,
        "y": 1240,
        "wires": []
    },
    {
        "id": "51bccc8d.6b42a4",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Testing the GroupItemStateChangedEvent",
        "info": "\nGroup definition is `Group:Number:AVG`.\nGTemperatures should output the average number (the \"temperature\") for all Items part of the GTemperatures group, which are `TestTemperature1` and `TestTemperature2` for this test.\n",
        "x": 200,
        "y": 1020,
        "wires": []
    },
    {
        "id": "9a096dd1.dc903",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18.5",
        "payloadType": "num",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "678b2204.566d8c",
                "48581e4e.5b9ae"
            ]
        ]
    },
    {
        "id": "678b2204.566d8c",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GTemperatures",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 400,
        "y": 1520,
        "wires": []
    },
    {
        "id": "df8ec765.814fe8",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Testing the GroupItemStateChangedEvent",
        "info": "\nGroup definition is `Group:Number:AVG`.\nGTemperatures should output the average number (the \"temperature\") for all Items part of the GTemperatures group, which are `TestTemperature1` and `TestTemperature2` for this test.\n",
        "x": 200,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2c66b89d.c81fa8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 in2 group temperatures",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1240,
        "wires": []
    },
    {
        "id": "964d8e0f.dc998",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GTemperatures",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 720,
        "y": 1240,
        "wires": [
            [
                "2c66b89d.c81fa8"
            ]
        ]
    },
    {
        "id": "d3295d9b.3f699",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature1",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 730,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "84112cd2.b493",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "TestTemperature2",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 730,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "939ac846.5878f8",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature1",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 730,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "d8c80e9f.d821c",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "TestTemperature2",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": true,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 730,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "48581e4e.5b9ae",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GTemperatures",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 400,
        "y": 1440,
        "wires": []
    },
    {
        "id": "147571c9.b5567e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 1480,
        "wires": [
            [
                "6c15b33b.ee29fc",
                "c1e3cf97.7a921"
            ]
        ]
    },
    {
        "id": "6c15b33b.ee29fc",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "203623fa.cd824c",
        "itemname": "GTemperatures",
        "topic": "",
        "x": 880,
        "y": 1440,
        "wires": [
            [
                "2b6d84a6.ef876c"
            ]
        ]
    },
    {
        "id": "2b6d84a6.ef876c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v2 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c1e3cf97.7a921",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "badf3377.cd963",
        "itemname": "GTemperatures",
        "topic": "",
        "x": 880,
        "y": 1520,
        "wires": [
            [
                "6523177.4959fe8"
            ]
        ]
    },
    {
        "id": "6523177.4959fe8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1520,
        "wires": []
    },
    {
        "id": "cee7e76d.0a02b8",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Testing openhab3 OAuth2 authentication",
        "info": " *  Go to http://localhost:8082\n *  Create a username/password\n *  Go to http://localhost:8082/createApiToken\n *  Create a token and remember it\n *  Enter the OAuthv2 token in the `OAuth2 Bearer token` field in the connection setup screen.\n *  The connection with `openhab3-oauth2` should now work.\n",
        "x": 200,
        "y": 1640,
        "wires": []
    },
    {
        "id": "f0c8d1a2.9d86a",
        "type": "openhab2-monitor2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "9d283b0c.5c21d8",
        "x": 130,
        "y": 1700,
        "wires": [
            [],
            [],
            [
                "fb663da0.720ac"
            ]
        ]
    },
    {
        "id": "fb663da0.720ac",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 raw events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d1f4cbb4.e24fe8",
        "type": "openhab2-events2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "9d283b0c.5c21d8",
        "itemname": "",
        "x": 130,
        "y": 1760,
        "wires": [
            [
                "72613ab2.755274"
            ]
        ]
    },
    {
        "id": "72613ab2.755274",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1760,
        "wires": []
    },
    {
        "id": "7a2385ec.c3b0cc",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1840,
        "wires": [
            [
                "d7a2b5b4.b44468"
            ]
        ]
    },
    {
        "id": "77c4c527.2acb8c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1980,
        "wires": [
            [
                "f48868a9.e80808"
            ]
        ]
    },
    {
        "id": "d7a2b5b4.b44468",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemUpdate to TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "ItemUpdate",
        "payload": "",
        "onlywhenchanged": false,
        "x": 350,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f48868a9.e80808",
        "type": "openhab2-out2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommand to TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 360,
        "y": 1980,
        "wires": []
    },
    {
        "id": "87fd974a.26ba58",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 130,
        "y": 2020,
        "wires": [
            [
                "f48868a9.e80808"
            ]
        ]
    },
    {
        "id": "b74fb988.bdb028",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 130,
        "y": 2060,
        "wires": [
            [
                "f48868a9.e80808"
            ]
        ]
    },
    {
        "id": "573008cf.ad4ce8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 130,
        "y": 1880,
        "wires": [
            [
                "d7a2b5b4.b44468"
            ]
        ]
    },
    {
        "id": "b5215aab.081628",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 130,
        "y": 1920,
        "wires": [
            [
                "d7a2b5b4.b44468"
            ]
        ]
    },
    {
        "id": "3a66fdb1.b556e2",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "InitialStateEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": true,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 740,
        "y": 1840,
        "wires": [
            [
                "730e57f9.206038"
            ]
        ]
    },
    {
        "id": "730e57f9.206038",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 InitialStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1840,
        "wires": []
    },
    {
        "id": "8608d59f.3aae18",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": true,
        "whencommand": false,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 740,
        "y": 1900,
        "wires": [
            [
                "43c5bf6e.42c99"
            ]
        ]
    },
    {
        "id": "43c5bf6e.42c99",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 ItemStateEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1900,
        "wires": []
    },
    {
        "id": "fc6fa273.48e54",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemCommandEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 760,
        "y": 1960,
        "wires": [
            [
                "9265265c.0c6428"
            ]
        ]
    },
    {
        "id": "9265265c.0c6428",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 ItemCommandEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1960,
        "wires": []
    },
    {
        "id": "c0dc1b5d.ec7488",
        "type": "openhab2-in2",
        "z": "f6f2187d.f17ca8",
        "name": "ItemStateChangedEvent for TestString",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "initialstate": false,
        "whenupdated": false,
        "whencommand": false,
        "whenchanged": true,
        "changedfrom": "",
        "changedto": "",
        "x": 770,
        "y": 2020,
        "wires": [
            [
                "fe190159.42116"
            ]
        ]
    },
    {
        "id": "fe190159.42116",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 ItemStateChangedEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 2020,
        "wires": []
    },
    {
        "id": "92b4e70.d36b118",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 2100,
        "wires": [
            [
                "fc532816.c5e648"
            ]
        ]
    },
    {
        "id": "fc532816.c5e648",
        "type": "openhab2-get2",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "controller": "9d283b0c.5c21d8",
        "itemname": "TestString",
        "topic": "",
        "x": 860,
        "y": 2100,
        "wires": [
            [
                "8f0890f5.520f8"
            ]
        ]
    },
    {
        "id": "8f0890f5.520f8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "v3-oauth2 get TestString",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 2100,
        "wires": []
    },
    {
        "id": "203623fa.cd824c",
        "type": "openhab2-controller2",
        "name": "openhab2",
        "protocol": "http",
        "host": "openhab2",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v2"
    },
    {
        "id": "badf3377.cd963",
        "type": "openhab2-controller2",
        "name": "openhab3",
        "protocol": "http",
        "host": "openhab3",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3"
    },
    {
        "id": "9d283b0c.5c21d8",
        "type": "openhab2-controller2",
        "name": "openhab3-oauth2",
        "protocol": "http",
        "host": "openhab3-oauth2",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": "oh.nodered.CgpQImIqacvFxVPC46JUHonnrPJANXaXDhskg7xN0nfaXAW8VSzB5nqighewykwYjf6FCFsGMxR3m4vzidQ"
    }
]